<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="ct-chart ct-golden-section" id="resultsChart"></div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="title center">
          <h6 style="text-decoration: underline;">Legend</h6>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="title center search1Legend">
          Search 1
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="title center search2Legend">
          Search 2
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="title center search3Legend">
          Search 3
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="title center search4Legend">
          Search 4
        </div>
      </div>
    </div>
  </div>
</div>
