<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="searchContainer">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col searchRow">
        <div class="inputForm">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="search1">
            <label class="mdl-textfield__label" for="search1">Search 1</label>
          </div>
          <label class="mdl-button mdl-js-button mdl-button--icon mdl-layout--large-screen-only" for="search1">
            <i class="material-icons">search</i>
          </label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col searchRow">
        <div class="inputForm">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="search2">
            <label class="mdl-textfield__label" for="search2">Search 2</label>
          </div>
          <label class="mdl-button mdl-js-button mdl-button--icon mdl-layout--large-screen-only" for="search2">
            <i class="material-icons">search</i>
          </label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <button class="searchnow center mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Search Now <i class="material-icons">search</i>
        </button>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <button class="resetZoom center mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Reset Zoom
        </button>
      </div>
    </div>
    <div class="mdl-grid searchProgress" style="max-width: 400px;display: none;">
      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>
  </div>
  <div class="title center">
    <h4>Search Results</h4>
  </div>

</div>
