<div class="vennSearchView">
  {{#if primarysearch}}
    <div class="searchContainer mdl-color-text--grey-100">
      <div class="mdl-grid searchProgress" style="display: none;">
        <div id="p3" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"
             style="width:100% !important;"></div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col searchRow">
          <div class="inputForm">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="search1">
              <label class="mdl-textfield__label mdl-color-text--grey-100" for="search1">Enter a search term</label>
            </div>
            <label class="mdl-button mdl-js-button mdl-button--icon mdl-layout--large-screen-only" for="search1">
              <i class="material-icons">search</i>
            </label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <button class="searchnow center mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Search <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if primaryresults}}
    <div class="primaryResultsContainer mdl-color-text--grey-100">
      test
    </div>
  {{/if}}
</div>

